/*
=================================================
Standard Across Website
=================================================
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3 {
  text-decoration-line: underline;
}

hr {
  width: auto;
}

figure {
  display: flex;
  flex-direction: column;
}

figure img {
  width: 250px;
  height: 150px;
}

.navbar {
  background-color: rgb(198, 142, 23);
  border-bottom: 1px solid rgb(198, 142, 23);
  position: fixed;
  top: 0;
  width: 100%;
}

.navlinks {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navlinks li {
  position: relative;
}

.navlinks a {
  display: block;
  text-decoration: none;
  color: aliceblue;
  transition: color 0.3s;
  padding: 14px 16px;
}

.navlinks a:hover {
  background-color: black;
}

.dropdown .content {
  display: none;
  list-style-type: none;
  padding: 0;
  position: absolute;
  min-width: min-content;
  top: 100%;
  left: 0;
  background-color: rgb(198, 142, 23);
}

.dropdown .dropdown-content-item {
  background-color: inherit;
}

.dropdown .dropdown-content-item a {
  color: aliceblue;
  white-space: nowrap;
}

.navlinks .dropdown:hover .content {
  display: block;
}

.footer {
  background-color: rgb(198, 142, 23);
  bottom: 0;
  position: fixed;
  text-align: center;
  width: 100%;
}

.main-body {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 0 10px 5px 10px;
  margin-bottom: 0;
}

.main-body div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.main-body li {
  display: block;
  text-decoration: none;
  font-size: 10px;
  color: black;
  padding: 2px;
}

.main-body li a {
  color: black;
}

.main-body li a:visited {
  color: purple;
}

/*
=================================================
Home Page
=================================================
*/

.home {
  margin: 50px 5px 150px 10px;
  width: auto;
}

.home .brief-summary {
  display: flex;
  flex-direction: column;
  margin: 5px 0 10px 0;
}

.home .brief-summary h1, p {
  padding-bottom: 10px;
}

.home .city-images {
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin: 5px;
}

.home .city-images .display-rows {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-right: 10px;
  padding: 10px 0 10px 0;
}


.home .city-images .display-rows figure figcaption,img {
  display: flex;
  justify-content: center;
  padding: 5px;
  text-align: center;
}

/*
=================================================
Gallery
=================================================
*/

.gallery {

  h1, h3 {
    text-align: center;
  }

  ul {
    padding-left: 0;
  }

  ul li {
    list-style: none;
  }

  .main-box {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
  }

  .box-images {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
}

/*
=================================================
Contact Page
=================================================
*/
.contact-page {

  form {
    border: 1px solid grey;
    border-radius: 10px;
    display: flex;
    align-content: left;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 10px;
    padding: 10px;
  }

  .normal-entry {
    display: grid;
    grid-template-columns: auto;
    font-weight: bold;
  }

  .description-entry {
    display: flex;
    flex-direction: column;
    font-weight: bold;
  }

  .btn-styles {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
  }

  .actualBtn {
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
  }
}

/*
=================================================
Subscribe Page
=================================================
*/

.subscribe {
  display: flex;
  flex-direction: column;
  margin: 50px 10px 150px 10px;
  align-items: center;

  .subscription-head {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    padding: 5px;
  
    .subscription-labels {
      display: flex;
      flex-direction: row;

      label {
        padding-left: 10px;
      }
    }
  }
  
  .subscribe-form {
    border: 1px solid grey;
    border-radius: 10px;
    display: flex;
    max-width: 500px;
    padding: 5px;
  
    .subscription-body {
      display: flex;
      flex-direction: column;
      align-items: center;

      .subsscription-body-header {
        justify-content: center;
        padding-top: 5px;
      }

      .subscription-body-items {
        display: grid;
        grid-template-columns: auto auto;

        .subscription-body-items-labels {
          margin: 5px;
          padding: 5px;
        }

        .subscription-body-items-inputs {
          margin: 5px;
          padding: 5px;
        }
      }

      .btn-styles {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 5px;
      }

      .actualBtn {
        border: 1px solid black;
        border-radius: 5px;
        padding: 5px 15px 5px 15px;
      }
    }
  }
}
